@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital@1&family=Inter:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Tight", "Inter";
  color: white;
  background-color: cornflowerblue;
  box-sizing: border-box;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Tight", "Inter";
  color: black;
  background-color: rgb(226, 214, 214);
  box-sizing: border-box;
}

.Airidas {
  display: none;
}

nav {
  width: 100vw;
  height: 10vh;
  display: none;
}

.startingImg {
  display: none;
}

.StartingHeader {
  margin-bottom: 40px;
}

.StartingIntroP {
  font-size: 1.25rem;
  margin: 40px;
}

.StartingIntroH1 {
  font-size: 4rem;
  align-self: center;
  margin: 40px 40px 40px 40px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.aboutmeh2 {
  align-self: center;
  font-family: "Inter";
  margin: 40px;
  font-size: 32px;
  text-decoration: underline;
}

.aboutImg {
  height: 461px;
  width: 361px;
  border: 2px solid black;
}

.aboutP {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 20px;
}

.TechSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.TechH3 {
  font-size: 32px;
  margin: 15px;
  text-decoration: underline;
}

.TechP {
  margin: 40px;
  font-size: 16px;
}

.Techimages {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.Techimages__grid1 {
  grid-area: 1/1/2/2;
}

.Techimages__grid2 {
  grid-area: 1/2/2/3;
}

.Techimages__grid3 {
  grid-area: 1/3/2/4;
}

.Techimages__grid4 {
  grid-area: 2/1/3/2;
}

.Techimages__grid5 {
  grid-area: 2/2/3/3;
}

.Techimages__grid6 {
  grid-area: 2/3/3/4;
}

.Techimages__grid7 {
  grid-area: 3/1/4/2;
}

.Techimages__grid8 {
  grid-area: 3/2/4/3;
}

.Techimages__grid9 {
  grid-area: 3/3/4/4;
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 40px;
}

.ProjectsH4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 90px;
  text-decoration: underline;
}

.Myprojects__Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Projectsp1 {
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.Projectsp2 {
  font-weight: 600;
  font-size: 30px;
  padding-left: 5px;
  margin-bottom: 20px;
}

.Projectsp3 {
  font-weight: 400;
  font-size: 18px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.Buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  margin-bottom: 40px;
}

.button-primary {
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button-secondary {
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.Myprojects__Web {
  display: none;
}

.Footer {
  border: 2px solid black;
  background-color: black;
}

.FooterImg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  background-color: black;
  border-radius: 50px;
}

.imgCv {
  background: white;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}

.imgGit {
  background: white;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}

.imgIn {
  background: white;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}

.Email {
  text-align: center;
  margin-bottom: 30px;
  background-color: black;
  color: white;
  margin-top: 20px;
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  .navButton {
    width: 100px;
    height: 40px;
    font-weight: bold;
  }
  .StartingIntroP {
    font-size: 2rem;
  }
  .StartingIntroH1 {
    font-size: 7rem;
  }
  .Myprojects__Web {
    display: block;
  }
  .StartingHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .introText {
    text-align: left;
    align-items: center;
  }
  .startingImg {
    display: flex;
    margin-top: 150px;
    margin-right: 50px;
  }
  .about_Pc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
  }
  .aboutImg {
    margin-left: 20px;
  }
  .aboutPara {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 100px;
  }
  .aboutP {
    font-size: 1.3rem;
  }
  .TechH3 {
    margin-top: 80px;
  }
  .Techimages {
    display: flex;
    grid-column-gap: 50px;
  }
  .Projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-bottom: 80px;
  }
  .pro1 {
    grid-area: 1/1/2/2;
  }
  .pro2 {
    grid-area: 1/2/2/3;
  }
  .pro3 {
    grid-area: 1/3/2/4;
  }
  .pro4 {
    grid-area: 2/1/3/2;
  }
  .pro5 {
    grid-area: 2/2/3/3;
  }
  .pro6 {
    grid-area: 2/3/3/4;
  }
  .myProjects {
    text-align: center;
  }
  .Email {
    text-align: center;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
  }
  footer div {
    display: flex;
    justify-content: flex-end;
  }
  footer div .imgCv {
    height: 41px;
    width: 42px;
  }
}/*# sourceMappingURL=main.css.map */